<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="InventoryManagementSystem.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="InventoryManagementSystem.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <InventoryManagementSystem.Properties.Settings>
            <setting name="CurrencyRate" serializeAs="String">
                <value>12430</value>
            </setting>
            <setting name="OrderChequesDirectoryPath" serializeAs="String">
                <value>D://</value>
            </setting>
            <setting name="AdminPassword" serializeAs="String">
                <value>1122</value>
            </setting>
            <setting name="ProductsPerPage" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="CustomersPerPage" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="OrdersPerPage" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="OrderDetailsPerPage" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="ProductsDataGridFontSize" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="CustomersDataGridFontSize" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="CartDataGridFontSize" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="OrderHistoryDataGridFontSize" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="OrderHistoryDetailsDataGridFontSize" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="AppFontFamily" serializeAs="String">
                <value>Calibri</value>
            </setting>
            <setting name="CategoriesDataGridFontSize" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="NumberOfTopProducts" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="NumberOfTopCustomers" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="NumberOfLeastProducts" serializeAs="String">
                <value>3</value>
            </setting>
        </InventoryManagementSystem.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <InventoryManagementSystem.Properties.Settings>
            <setting name="AdminRecoveryPassword" serializeAs="String">
                <value>3383575</value>
            </setting>
        </InventoryManagementSystem.Properties.Settings>
    </applicationSettings>
</configuration>